/clion_project/cmake-build-debug/
/clion_project/resources/mingw32/
/clion_project/resources/SFML32/
/clion_project/cmake-build-release/
/clion_project/resources/libtorch/
/clion_project/resources/SFML64/
/clion_project/resources/SFMLv15_32/
/clion_project/resources/SFMLv15_64/
